.space{
    margin-left: 4mm;
}
.space2{
    margin: 4mm;
}
#pic{
    background: url(me.png);
    background-size: cover;
    background-attachment: fixed;
    background-position: left;
    background-repeat: no-repeat;
    
}
.name{  
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
    color: white;
    font-size: larger;
}
#covername{
  font-size: 80px;

}
#coverdesc{
  font-size: 60px;
  
  
}
.namedesc{
    font-family: 'Times New Roman';
    font-size: large;
    color: black;
    font-weight: lighter;
}

head{
    padding-left: 5cm;
}
.navbar {
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    z-index: 99;
    transition: 0.42.s;
    
    background-color: rgba(0, 0, 0, 0.76); 
  }
 

  .fggrey{
      color: gray;
      font-family: 'Times New Roman', Times, serif;
      font-size: large;
      
  }
  
  
a.nav-link{
    font-size: medium;
    font-weight: bold;
    color: white;
  }
.navmove{
    margin-right: 3cm;
    
}
  .bdcol{
      font-family: 'Times New Roman';
      font-size: xx-large;
      font-weight: bolder;
  }
 
 

 li a.active {background-color: #4CAF50;}
  
  li a:hover:not(.active){
      background-color: #a5b35c;
      color: lightcyan;
  }
  
  #pgbg{
       background-color: #a5b35c;
  }
  .dark-mode {
    background-color: black;
    color: white;
  }



  .flip-card {
    background-color: transparent;
    width: 300px;
    height: 300px;
    perspective: 1000px;
    box-shadow: 0 4px 6px 0 #3a3a39d2;
    border-radius: 15px;
    
  }
  
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.4s;
    transform-style: preserve-3d;
    border-radius: 10px;
    
  }
  
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 6 px 0 #2b2929ce;
  
    
  }
  

  
  .flip-card-back {
    background-color: black;
    color: white;
    transform: rotateY(180deg);
    box-shadow: 0 4px 6px 0 #cab920;
    border-radius: 10px;
  }

  html {
    scroll-behavior: smooth;
  }

  
